{% extends 'base.html' %}
{% load custom_filter %}
{% load static %}

{% block content %}
<div class="row my-2 ml-3 mr-2">
	<!-- Header Banner -->
	<div class="col-md-12 mobile-hide">
		<div class="card shadow mr-3 mobile-hide" style="background-color: #000000;">
			<h3 class="ml-2" style="color: #F57E1F;">NEWS/</h>
		</div>
	</div>
	<!-- Main Content -->
	<div class="row">
		{% for article in featured_articles %}
		<a href="/detail/{{ article.news.id }}">
			<div class="col-sm-8 my-1">
				<div class="card mt-3 mb-3 shadow bg-dark" style="color: #F57E1F; background-color: black;">
					<img src="media/{{article.news.image}}" class="card-img-top w-100" alt="{{ news.title }}">
					<div class="card-body" style="background-color:black;">
						<h5 class="card-title" style="color: #F57E1F; font-weight: bold;">{{ article.news.title }}</h5>
						<p>{{ article.news.pub_date | timesince }} ago</p>
						<hr/>
						<div>
							<span class="card-text" style="color: white; font-size: larger;">
								{{article.news.body|truncatewords:30 | striptags | safe}}
									<a href="/detail/{{ article.news.id }}"></a>
							</span>
						</div>
					</div>
				</div>
			</div>
		</a>
		{% endfor %}

		<!-- Right Content -->
		<div class="col-sm-4">
			<div class="card shadow mt-3">
				<div class="fb-page" data-href="https://www.facebook.com/fijirugbyleague" data-tabs="timeline" data-width="440" data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/fijirugbyleague" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/fijirugbyleague">FNRL Fiji National Rugby League</a></blockquote></div>
			</div>
		</div>
	</div>
</div>
<!-- Category Wise News -->
<div class="row" style="background-color: #000000;">
    <div class="row" style="background-color: #000000;">
    {% for news in sorted_news %}
    <div class="col-md-3 mt-3">
        <!-- News box -->
		<a href="/detail/{{ news.id }}">
        <div class="card shadow ml-3" style="background-color: white; color:#000000; height: 300px; display: flex; flex-direction: column; border-radius: 10px; margin-bottom: 20px;">
            <img src="/media/{{ news.image }}" class="card-img-top" style="object-fit: cover; height: 120px;" alt="{{ news.title }}">
            <div class="card-body">
                <h6 class="card-title" style="font-size: 12px;">{{ news.category.title }}</h6>
                <h5 class="ml-2" style="color:#000000; font-size: 14px;">{{ news.title }}</h5>
                <h6 class="card-footer" style="position: absolute; bottom: 0; left: 0; right: 0; font-size: 12px;">{{ news.pub_date|timesince }} ago</h6>
            </div>
        </div>
	</a>
    </div>
    {% endfor %}

</div>

</div>
<div class="row" style="align-items: center;">
	<div class="col-md-12 mobile-hide">
		<div class="card shadow ml-3 mr-3 mt-3 mobile-hide" style="background-color: #000000;">
			<h3 class="ml-2" style="color: #F57E1F;">WATCH/</h>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="card ml-3 mt-3 shadow">
			<div class="video-container">
				<video controls>
					<source src="{% static 'media/videos/FNRLTV.mp4' %}" type="video/mp4">
					Your browser does not support the video tag.
				</video>
			</div>
		</div>
			
		</div>
</div>




{% endblock content %}
